*{
    margin: unset;
    padding: unset;

    box-sizing: border-box;


    font-size: 1rem;

    font-weight: 400;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: unset;
    padding: unset;
    outline: unset;
    border: unset;
}

.navbar__nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar__nav__list {
    display: flex;
}
