* {
    margin: unset;
    /*estos comandos son para limpiar la pagina antes de empezar a trabajar*/
    padding: unset;
    /*reestablece los espaciados de los lados arriba y abajo*/
    outline: unset;
    /*elimina lineas negras de los cuadros*/
    border: unset;
    /*elimina bordes*/

    box-sizing: border-box;
    /*hace q se adapte a su contenedor*/
    /* display: block; */

    font-size: 1rem;
    /* 1ren vale 16px */

    font-weight: 400;
    /*ancho de pagina*/

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;

}

/*panel fijo*/
.navbar__nav {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    /*pegado arriba*/
    left: 0;
    /*pegado a los lados*/
    width: 100%;
    z-index: 10000;
    /*barra fija*/
}


.navbar__nav {

    display: flex;
    /*es el autolayout de style*/
    align-items: center;
    /*redimenciona*/
    justify-content: space-between;
    padding: 15px 60px;
    /*espaciado lateral*/

}

.navbar__nav__list {
    display: flex;
    /*redimenciona a columnas*/
    gap: 35px;
}

.button-other {
    padding: 12px 30px;
    background-color: #307373;
    font-weight: bold;
    border: solid 2px #1b4e4ede;
    transition: background 3s ease-in;
    color: #f2f2f2;
}

.button-other:hover {
    background-color: #3073739a;
}

.main__section.jumbotron {

    display: flex;
    font-style: oblique;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    color: #C4CBD3;
    /* background-image: url(/assets/Rectangle\ 3.jpg);
    background-size: 100%;
    background-position: 30vw -200px;
    background-repeat: ; */
    background-color: #C4CBD3;
    line-height: 100%;
}

.main__section.jumbotron h1 {
    font-size: 64px;
    /*tamaño de la letra*/
    font-weight: bold;
    /*ancho de la letra*/
    align-items: center;
    justify-content: center;
    color: aliceblue;

}

.main__section.jumbotron h1 span {
    font-size: 64px;
    font-weight: bold;
    color: #307373;
    align-items: center;
    justify-content: center;
}


.main__section__tarjeta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 7px;
    padding: 12px;
    text-align: center;

}

.main__section__tarjeta.hover {
    /*elemento interactivo d la tarjeta con sombra*/
    transform: translateZ(10px);
    box-shadow: 2px 2px 10px 1px #2c4d5460;
}

.main__section__tarjeta__oscura {
    padding: 12px;
    background-color: #2C4D54;
    color: #f2f2f2;
    transition: transform .3s ease-in-out;
    box-shadow: ease-in-out;
    /*movimiento tarjeta*/

}

.main__section__tarjeta__clara {

    background-color: #307373;
    color: #f2f2f2;
}

.main__section h4 span {
    /*servicio-modificado*/
    font-size: 32px;
    font-weight: bold;
    color: #2C4D54;
    align-items: center;
    justify-content: center
}

/*tarjetas de servicios*/

.main__section__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;
    /*tamaño de fuente*/
    padding: 15px 60px;
    /*espaciado arriba y abajo*/

}

.main__section__container__card {
    display: flex;
    margin: 5px;
    background: #f2f2f2;
    overflow: hidden;
    /*pendiente es para ocultar lo q sobre salga de la caja*/
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.11);
    /*sombra*/
    cursor: default;
    transition: all 400ms ease;
}

.main__section__container__card.hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%)
        /*se traslada verticalmente cuando paso el cursor */

}

.main__section__container__card h3 span {
    font-size: 16px;
    font-weight: bold;
    color: #307373;
    align-items: center;
    justify-content: center
}

.main__section__container__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* redimenciona los flex direction*/
    padding: 12px;
    text-align: center;
}


.main__section__container__card>img src {
    height: 25px;


}

.main__section__container__card__vector {

    /*modificar lo q falta*/
    display: flex;
    gap: 50px;
    padding: 2px;
}

.button {
    padding: 12px 30px;
    background-color: #307373;
    font-weight: bold;
    transition: background 3s ease-in;
    color: #f2f2f2;
}

.button:hover {
    background-color: #307373ad;
}

/*otra seccion informativa*/
.main__section__informativa {

    font-style: oblique;
    background-image: url('/assets/masaje_piedras.jpg');
    background-size: cover;
    /* background-position: 30vw -200px; */
    background-repeat: no-repeat;
    background-position: center;
    line-height: 100%;
    padding: 30px 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.main__section__informativa::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.623);
    z-index: 1;
}

.main__section__informativa h3 {
    font-size: 16px;
    /*tamaño de la letra*/
    font-weight: bold;
    color: #2C4D54;
    display: flex;

}

.main__section__informativa p {
    font-size: 12px;
    /*tamaño de la letra*/
    font-weight: lighter;
    color: #2C4D54;
    display: flex;

}

.main__section__informativa__1 {
    z-index: 5;
    position: relative;
    align-items: start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;

}

.main__section__informativa__2 {
    z-index: 5;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.main__section__informativa__3 {
    z-index: 5;
    position: relative;
    align-items: end;
    justify-content: end;
    display: flex;
    flex-direction: column;

}

/*terminal de suscripcion*/

.main__section__suscripcion {
    position: relative;
    width: 100%;
    background: #2C4D54;
    min-height: 100px;
    /*contenedor de altura*/
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__section__suscripcion h3 {
    font-size: 20px;
    /*tamaño de la letra*/
    font-weight: bold;
    color: #f2f2f2;
    display: flex;
}

.button-claro {
    padding: 12px 30px;
    background-color: #f2f2f2;
    font-weight: bold;
    transition: background .3s ease-in;
    color: #2C4D54;
}

.button-claro:hover {
    background-color: #c4cbd3ea;
    color: #2C4D54;
}

.main__section__suscripcion h4 {
    font-size: 32px;
    /*tamaño de la letra*/
    font-weight: bold;
    color: #f2f2f2;
    display: flex;
}

/*footer*/

.footer {
    position: relative;
    width: 100%;
    background: #f2f2f2;
    min-height: 100px;
    /*contenedor de altura*/
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__hijo {
    font-size: 12px;
    font-weight: lighter;
    color: #1f1f1f;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer__hijo span {
    font-size: 12px;
    font-weight: bold;
    color: #1f1f1f;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer__hijo__img {
    color: #2C4D54;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.footer__hijo__img.hover {
    transform: translateY(-10px);
}